body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;    /* 스크롤바 삭제 */
}

#container {
  width: 600px;      /* container의 너비 */
  margin: 0 auto;    /* 화면 중앙에 배치 */
}

#header {
  font-size: 30px;
  text-align: center;
  background-color: lightgreen;
  padding: 20px;
  border-top-left-radius: 30px;    /* 왼쪽 위 꼭짓점을 둥글게 */
  border-top-right-radius: 30px;   /* 오른쪽 위 꼭짓점을 둥글게 */
}

#inputText {
  background-color: lightskyblue;
  padding: 20px;
}

#todoList {
  background-color: lightcoral;
  padding: 20px;
}

#footer {
  background-color: lightseagreen;
  padding: 20px;
  border-bottom-left-radius: 30px;    /* 왼쪽 아래 꼭짓점을 둥글게 */
  border-bottom-right-radius: 30px;   /* 오른쪽 아래 꼭짓점을 둥글게 */
}